services:

  ### GenieACS Docker ###
  # Dockerfile: https://hub.docker.com/r/drumsergio/genieacs/Dockerfile
  genieacs:
    image: drumsergio/genieacs:1.2.13.2
    restart: unless-stopped
    container_name: genieacs
    environment:
      GENIEACS_UI_JWT_SECRET: changeme
      GENIEACS_CWMP_ACCESS_LOG_FILE: /var/log/genieacs/genieacs-cwmp-access.log
      GENIEACS_NBI_ACCESS_LOG_FILE: /var/log/genieacs/genieacs-nbi-access.log
      GENIEACS_FS_ACCESS_LOG_FILE: /var/log/genieacs/genieacs-fs-access.log
      GENIEACS_UI_ACCESS_LOG_FILE: /var/log/genieacs/genieacs-ui-access.log
      GENIEACS_DEBUG_FILE: /var/log/genieacs/genieacs-debug.yaml
      GENIEACS_EXT_DIR: /opt/genieacs/ext
      # Connection string diatur lewat file .env
      GENIEACS_MONGODB_CONNECTION_URL: ${GENIEACS_MONGODB_CONNECTION_URL}
    ports:
      - "7547:7547"
      - "7557:7557"
      - "7567:7567"
      - "3047:3000"
    volumes:
      - ext_volume:/opt/genieacs/ext
    networks:
      - genieacs_network
    healthcheck:
      test: ["CMD", "wget", "--spider", "--quiet", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  ### THIS SERVICE IS JUST FOR TESTING ###
  # Dockerfile here: https://hub.docker.com/r/drumsergio/genieacs-sim/Dockerfile
  genieacs-sim:
    depends_on:
      genieacs:
        condition: service_healthy
    image: drumsergio/genieacs-sim:latest
    container_name: genieacs-sim
    restart: unless-stopped
    networks:
      - genieacs_network
    profiles:
      - testing

  ### GenieACS MCP Server (AI) ###
  # Dockerfile here: https://hub.docker.com/r/drumsergio/genieacs-mcp/Dockerfile
  genieacs-mcp:
    depends_on:
      genieacs:
        condition: service_healthy
    image: drumsergio/genieacs-mcp:latest
    container_name: genieacs-mcp
    restart: unless-stopped
    environment:
      ACS_URL: http://genieacs:7557
      ACS_USER: admin
      ACS_PASS: admin # Set by default after the wizard, please change
    ports:
      - "8081:8080"
    networks:
      - genieacs_network
    profiles:
      - mcp

volumes:
    data_db:
    data_configdb:
    ext_volume:

networks:
    genieacs_network:
 